<h2>Success Tips<span class="glyphicon glyphicon-pencil"></span></h2>
<ul>
    <li>Check your <a href="https://outlook.com/owa/cwu.edu">CWU email</a> often!</li>
    <li>Read everything your instructor posts. You don't want to miss out on assignment points because you missed an important instruction.</li>
    <li><a href="https://canvas.cwu.edu/">Log into Canvas</a> regularly to check for new discussions or group posts. They may not get sent to your email inbox.</li>
    <li>For virtual teams/group projects, use Slack for team collaboration. It's free! Watch this <a href="https://youtu.be/B6zVzWU95Sw">video</a> to learn more about it.</li>
</ul>